.post-data-container {
  position: relative;
  min-height: 100vh;
  padding: 20px;
  min-height: 100vh;
  color: white;
}

.post-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.post-description {
  font-size: 1.4rem;
  color: #8fc7ff;
  margin-bottom: 20px;
  text-align: justify;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.comment-container {
  border-top: 1px solid #dee2e6;
  padding-top: 15px;
  margin-top: 15px;
}

.comment {
  /* background-color: #ffffff; White background for comments */
  border: 1px solid #ced4da; /* Light border for comments */
  border-radius: 5px; /* Rounded corners */
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-align: center;
}
.comment-text {
  font-size: 19px;
  max-width: 800px;
  margin: auto;
  color: #495057; /* Slightly lighter text */
  text-align: center;
}
.comment-user {
  font-weight: bold;
  color: #007bff; /* Bootstrap primary color for usernames */
  margin-top: 1rem;
}

.comment-email {
  font-size: 0.9rem;
  color: #868e96; /* Muted email color */
}

.comment-buttons {
  margin-top: 10px; /* Space above buttons */
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.red-confirm-button {
  background-color: #dc3545; /* Bootstrap danger color */
  border: none; /* Remove border */
}

.red-confirm-button:hover {
  background-color: #c82333; /* Darker on hover */
}
