.footer-container {
  position: relative;
  width: 100%;
  background-color: white;
  color: black;
  padding: 1rem 0;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container h3 span {
  color: #ff6347; /* Tomato color */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adds shadow for depth */
  transition: color 0.3s ease-in-out;
}

.footer-container h3 span:hover {
  color: #ffa500; /* Orange when hovered */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}
